:root {
  --color-primary: blue;
  --color-secondary: black;
  --color-tertiary: black;

  --text-primary: white;
  --text-secondary: black;
  --text-optional: gray;
  --text-primary-static: white;
}
.root {
  display: flex;
  gap: 1rem;
}
.header {
  min-height: 100vh;
}
.navbar {
  width: 13.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.navbar a {
  opacity: 0.75;
}
a.active {
  color: var(--color-primary);
  opacity: 1;
}
.active::after {
  content: "";
  height: 100%;
  width: 0.5rem;
  background-color: var(--color-primary);
  left: -0.5rem;
  position: absolute;
}
.artist-img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.artist-container {
  background-color: var(--text-optional);
  padding: 1.2rem;
  border-radius: 0.8rem;
}
.button-click {
  padding: 0.2rem 0.5rem;
  background-color: var(--color-primary);
  outline: transparent;
  border: 0;
  color: var(--text-primary-static);
  border-radius: 0.2rem;
}
.button-click:hover {
  background-color: var(--color-secondary);
}
.music-cards-container {
  width: max(40rem, 100%);
}
.music-card-container {
  width: 22rem;
  height: 13rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.2rem;
  color: var(--text-primary-static);
  position: relative;
  border-radius: 1rem;
}
.music-card-container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: linear-gradient(
    40deg,
    rgba(0, 0, 0, 1) 16%,
    rgba(253, 187, 45, 0) 100%
  );
}
.music-card-container > * {
  z-index: 100;
}
[class^="card-button"] {
  outline: 0;
  border: 0;
  padding: 0.2rem 1rem;
  width: 7rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}
.card-button-listen {
  background-color: blueviolet;
}
.card-button-add {
  background-color: transparent;
}
[class^="card-button"]:hover {
  background-color: var(--color-tertiary);
}
.user-container {
  background-color: black;
  color: var(--text-primary-static);
  width: 9.5rem;
  border-radius: 0.5rem;
}
.user-img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
